

<section class="dashBoardContainer">
<h1>Bienvenue , Connecter vous pour avoir accès au fonctionnalité</h1>
<a class="log" href="/login">Connexion</a>
<a class="sub" href="/subscribe">Inscription</a>

</section>
