* {
  min-width: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
video,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}

body {
  background-image: linear-gradient(
    to bottom,
    #0b60f4,
    #4678eb,
    #6c8ede,
    #8fa3ce,
    #b3b6bc
  );
  margin: 0;
  min-height: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

.error {
  color: red;
}
footer {
  font-family: "League Spartan";
  background-color: #b9babb;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/*​‌‌‍⁡⁢⁣⁢ 𝗗𝗔𝗦𝗛𝗕𝗢𝗔𝗥𝗗⁡​ */

.dashBoardContainer {
  margin-top: 275px;
  text-align: center;
}

.dashBoardContainer h1 {
  color: white;
  font-family: "League Spartan";
  font-size: 2.5em;
  margin-top: 50px; /* Ajoute un espace au-dessus du titre */
}

.dashBoardContainer a {
  font-family: "League Spartan";
  display: inline-block;
  padding: 25px 25px;
  margin: 10px;
  border: 2px solid #ffffff; /* Couleur de la bordure */
  border-radius: 5px; /* Coins arrondis */
  text-decoration: none;
  color: #ffffff; /* Couleur du texte */
  font-weight: bold;
  transition: all 0.3s ease; /* Effet de transition fluide */
}

.dashBoardContainer a:hover {
  background-color: #f8f8f8; /* Couleur de fond au survol */
  color: rgb(63, 71, 237); /* Couleur du texte au survol */
}

/* ​‌‌‍⁡⁢⁣⁢𝗦𝗨𝗕𝗦𝗖𝗥𝗜𝗕𝗘 ⁡​*/

.registrationForm {
  width: 400px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.subscribe {
  font-family: "League Spartan";
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
}

.inputGroup {
  margin-bottom: 20px;
}

.inputGroup label {
  display: block;
  margin-bottom: 5px;
}

.inputGroup input[type="text"],
.inputGroup input[type="password"] {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submitGroup {
  text-align: center;
}

.submitGroup button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitGroup button:hover {
  background-color: #03922e;
}

/*​‌‌‍⁡⁢⁣⁢ 𝗟𝗢𝗚𝗜𝗡⁡​ */

.loginH1 {
  font-family: "League Spartan";
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.7rem;
  color: whitesmoke;
}

.login-form {
  font-family: "League Spartan";
  width: 300px; /* Largeur du formulaire */
  margin: auto; /* Centre le formulaire horizontalement */
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.login-form:hover {
  transform: translate(-50%, -50%) scale(1.05); /* Agrandit le formulaire de 5% */
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-family: "League Spartan";
  display: block;
  margin-bottom: 5px;
  color: white;
}

input {
  font-family: "League Spartan";
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.error-message {
  color: red;
  margin-top: 5px;
}

.sendBtn {
  width: 100%; /* Bouton de largeur totale */
  padding: 10px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sendBtn:hover {
  background-color: #0056b3;
}

/* PAGE PRINCIPALE HEADER */

.headerContainer {
  display: flex;
  justify-content: center; /* Couleur de fond de la barre de navigation */
  padding: 15px 20px; /* Espacement interne de la barre de navigation */
  box-shadow: 12px 4px 12px 3px rgb(255 255 255 / 15%); /* Ombre légère pour la profondeur */
}

.nav {
  list-style: none; /* Supprimer les puces de la liste */
  margin: 0; /* Supprimer les marges par défaut */
  padding: 0; /* Supprimer le remplissage par défaut */
}

.nav li {
  display: inline-block; /* Afficher les éléments de la liste en ligne */
  margin-right: 250px; /* Espacement entre les éléments de la liste */
}

.nav li:last-child {
  margin-right: 0; /* Supprimer l'espacement à droite du dernier élément */
}

.nav a {
  font-size: 1.5rem;
  font-family: "League Spartan";
  text-decoration: none; /* Supprimer la décoration de lien par défaut */
  color: #ffffff; /* Couleur du texte des liens */
  font-weight: bold; /* Mettre en gras le texte des liens */
  transition: transform 0.3s;
}

.nav a:hover {
  color: #000000; /* Couleur du texte des liens au survol */
  transform: scale(1.1);
}

/* EMPLOYEE */

.block-contain {
  display: flex;
  justify-content: center;
  margin-top: 55px;
}

.H1Employee {
  font-family: "League Spartan";
  font-size: 2rem;
  color: white;
  font-weight: 600;
}

.H1Employee {
  font-family: "League Spartan";
  font-size: 2rem;
  color: white;
  font-weight: 600;
  transition: transform 0.4s;
}

.H1Employee:hover {
  transform: scale(1.2);
}

/* Formulaire add employer */

.add-employee-container {
    padding-top: 55px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 17px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-employee-title {
  color: #007bff; /* Bleu */
  font-size: 2rem;
  font-family: "League Spartan";
}

.add-employee-form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  font-size: 1.3rem;
  display: block;
  margin-bottom: 5px;
  color: #333333; /* Noir */
  font-weight: bold;
}

#photo {
    border-radius: 10px;
}

.form-input {
  width: 100%;
  border: 1.5px solid #ced4da; /* Gris clair */
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center;
  font-size: 1.4rem;
}

.add-employee-button {
  background-color: #007bff; /* Bleu */
  color: #ffffff; /* Blanc */
  border: none;
  padding: 10px 20px;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-employee-button:hover {
  background-color: #0056b3; /* Bleu légèrement plus foncé */
}

/* TODO EMPLOYEE CARDS */
.employee-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    width: 50vw;
}

.employee-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.employee-details {
    flex-grow: 1;
}

.employee-actions a {
    text-decoration: none;
    color: #ffffff;
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 5px;
    font-family: "League Spartan";
    font-size: 1rem;
}

.employee-actions .delete {
    background-color: #e74c3c;
    transition: transform 0.4s;
}

.employee-actions .delete:hover {
transform: scale(1.1);
}


.employee-actions .blame {
    background-color: #3498db;
}

.employee-actions .update {
    background-color: #2ecc71;
}

.employeeName {
    font-family: "League Spartan";
    font-size: 1.1rem;
} 
.employeeFonction {
    font-family: "League Spartan";
    font-size: 1.1rem;
}
.employeeBlame {
    font-family: "League Spartan";
    font-size: 1.1rem;
}